[Desktop Entry]
Type=Application
Exec=fusuma
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_US]=Multitouch gestures
Comment[en_US]=No description
X-GNOME-Autostart-Delay=1
